@media screen and (min-width : 577px) and (max-width : 768px) {

    .head {
        display: flex;
        justify-content: flex-start;
        height: 60px;
        padding: 5px;
    }

    .logo {
        margin-left: 0px;
    }

    .logo {
        margin-left: 0px;
    }

    .items {
        display: none;
    }

    .join {
        display: none;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        place-items: center;
        margin-left: 0px;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .img-container {
        margin-left: 0px;
        width: 80%;
        margin: 0 auto;
    }

    .img1 {
        width: 100%;
        height: 350px;
    }

    .ab {
        width: 85%;
        margin: 0 auto;
        padding: 10px;
    }

    .ab>h6 {
        padding: 10px;
    }

    .ab>.us {
        padding-bottom: 0px;
    }

    .wel {
        font-size: 1.4rem;
    }

    .sub-container {
        padding: 10px;
    }

    .sub-container>button {
        padding: 10px 15px;
    }

    .item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 10px;
        margin-bottom: 10px;
        gap: 10px;
    }

    .item>div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .item>div>p {
        margin: 0px;
        font-size: 0.9rem;
    }

    .grid-section {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 0px;
        width: 80%;
        margin: 0 auto;
    }

    .box {
        aspect-ratio: 1/0.5;
    }

    .box1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .box2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .box3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .box4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .sub-container {
        width: 100%;
        height: 0%;
    }

    .title>h5 {
        font-size: 1rem;
    }

    .title>p {
        font-size: 1rem;
    }

    .sub-container>p {
        margin-bottom: 0px;
        font-size: 0.9rem;
        padding: 10px 0px 10px 0px;
    }

    .testimonial {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .test {
        display: flex;
        align-items: center;
    }

    .client>.info {
        padding: 10px;
    }

    .image_test {
        width: 45%;
    }

    .image_test>h5 {
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 10px;
    }

    .image_test>p {
        font-size: 0.8rem;
    }

    .bg-card {
        text-align: center;
        padding: 20px;
        width: 80%;
        margin: 0 auto;
    }

    .bg-card>h1 {
        font-weight: 800;
        font-size: 1.6rem;
    }

    .courses {
        display: grid;
        gap: 10px;
        padding: 0px;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin: 0 auto;
    }

    .faculty {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
        width: 80%;
        margin: 0 auto;
    }

    .footer {
        grid-template-columns: 1fr;
        padding: 30px;
    }

    .foot>.link {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .link>a {
        font-size: 0.9rem;
        text-decoration: none;
        color: white;
    }

    .last {
        margin: 15px 0px;
    }

    .cards>.c {
        width: 90%;
        margin: 0 auto;
    }

}

@media screen and (max-width : 576px) {

    .head {
        display: flex;
        justify-content: flex-start;
        height: 60px;
        padding: 5px;
    }

    .logo>a {
        margin-left: 5px;
        font-size: 1rem;
    }

    .logo>i {
        font-size: 1.2rem;
    }


    .logo {
        margin-left: 0px;
    }

    .items {
        display: none;
    }

    .join {
        display: none;
    }

    .cards {
        display: grid;
        place-items: center;
        margin-left: 0px;
        padding: 2rem 0rem 2rem 0rem;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .img-container {
        margin-left: 0px;
        width: 90%;
        margin: 0 auto;
    }

    .img1 {
        width: 100%;
        height: 350px;
    }

    .ab {
        padding: 10px;
    }

    .ab>h6 {
        padding: 10px;
    }

    .ab>.us {
        padding-bottom: 0px;
    }

    .wel {
        font-size: 1.4rem;
    }

    .sub-container {
        padding: 10px;
    }

    .sub-container>button {
        padding: 10px 15px;
    }

    .item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 10px;
        margin-bottom: 10px;
        gap: 10px;
    }

    .item>div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .item>div>p {
        margin: 0px;
        font-size: 0.9rem;
    }

    .grid-section {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 0px;
        width: 80%;
        margin: 0 auto;
    }

    .box {
        aspect-ratio: 1/0.5;
    }

    .box1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .box2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .box3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .box4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .sub-container {
        width: 100%;
        height: 0%;
    }

    .title>h5 {
        font-size: 1rem;
    }

    .title>p {
        font-size: 1rem;
    }

    .sub-container>p {
        margin-bottom: 0px;
        font-size: 0.9rem;
        padding: 10px 0px 10px 0px;
    }

    .testimonial {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .test {
        display: flex;
        align-items: center;
    }

    .client>.info {
        padding: 10px;
    }

    .image_test {
        width: 45%;
    }

    .image_test>h5 {
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 10px;
    }

    .image_test>p {
        font-size: 0.8rem;
    }

    .bg-card {
        text-align: center;
        padding: 20px;
        width: 80%;
        margin: 0 auto;
    }

    .bg-card>h1 {
        font-weight: 800;
        font-size: 1.6rem;
    }

    .courses {
        display: grid;
        gap: 10px;
        padding: 0px;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 0 auto;
    }

    .faculty {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
        width: 85%;
        margin: 0 auto;
    }

    .footer {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .foot>.link {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .link>a {
        font-size: 0.9rem;
        text-decoration: none;
        color: white;
    }

    .last {
        margin: 15px 0px;
    }

    .cards>.c {
        width: 90%;
        margin: 0 auto;
    }

}