* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
html,body{
    width: 100%;
}
.head {
    height: 80px;
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
}

.logo {
    margin-left: -120px;
}

.logo>a {
    margin-left: 15px;
    color: #06BBCC;
    font-size: 1.5rem;
    text-decoration: none;
}

.logo>i {
    font-size: 28px;
    color: #06BBCC;
    padding-top: 10px;

}

.items {
    display: flex;
    gap: 30px;
    margin-right: -250px;
}

.items>a {
    text-decoration: none;
    color: black;
}
.items>li>a{
    text-decoration: none;
    color:black;
}
.sub-menus>li>a{
    text-decoration: none;
}

.join {
    background-color: #06BBCC;
    width: 15%;
    height:80px;
    padding: 0;
    margin-top: -10px;
    margin-right: -182px;
    text-align: center;
    line-height: 70px;
    color: white;
    font-family: 'Nunito', sans-serif;

}

.join>a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.head a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}

.head ul.sub-menus {
    height: auto;
    overflow: hidden;
    width: 170px;
    background: white;
    position: absolute;
    z-index: 99;
    display: none;
}

.head ul.sub-menus li {
    display: block;
    text-align: left;
    width: 100%;
}

.head ul.sub-menus a {
    color: black;
    font-size: 16px;
}

.head li:hover ul.sub-menus {
    display: block
}

.head ul.sub-menus a:hover {
    background: #F2F2F2;
    color: #444444;
    background-color: #b19e9e;
}

.items>li {
    list-style-type: none;
}

.items>.dropdown-arrow:hover {
    color: #06BBCC;
    display: block;

}

.items>a:hover {
    color: #06BBCC;
}

.dropdown-arrow:hover {
    color: #06BBCC;
}


.h-background {
    /* background-image: url("./images/carousel-1.jpg"); */
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    background-repeat: no-repeat;
    background-size: cover;   
   
}

.bg-card>.best{
    font: 900;
    font-size: 1.2rem;
    color:#06BBCC;
}
.bg-card>h1{
    font-weight: 800;
    font-size: 3rem;
}
.bg-card>h1,.bg-card>.desc{
    color:white;
}

.h-1 {
    font-weight: 700;
    color: #06BBCC;
    font-size: 1.5rem !important;
}

.h-2 {
    font-weight: 800;
    font-size: 3.2rem !important;
}

.h-3 {
    font-size: 1.3rem;
    width: 150%;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 80px 50px;
    margin-left: 30px;
}

.c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 260px;
    border: none;
    padding: 30px;
    gap: 10px;
    text-align: center;
    background-color: #e5fbfd;


}

.c>li {
    color: #06BBCC;
}

.c:hover {
    background-color: #06BBCC;
    color: white;
}

.c:hover>li {
    color: white;
}

.about {
    display: flex;
    gap: 40px;
}

.img-container {
    margin-left: 80px;
}

.img1 {
    width: 600px;
    height: 500px;
}

.us {
    color: #06BBCC;
}

.wel {
    font-weight: 700;
}

.sub-container {
    height: 500px;
    width: 500px;

}

.sub-container>p {
    margin-bottom: 30px;
}

.item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
}

.item>div>li {
    margin-right: 10px;
}

button>.read {
    color: white;
    text-decoration: none;
}
button {
    background-color: #06BBCC;
    padding: 15px 40px;
    border-color: #68deec;
    border-width: 4px;
}

.categories {
    text-align: center;
    margin-top: 50px;
}

.categories>h6 {
    color: #06BBCC;
    font-weight: 700;
}

.categories>h1 {
    font-weight: 700;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 40px 80px;

}

.box1 {
    grid-column: 1/3;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
}
.box1>img:hover,.box2>img:hover,.box3>img:hover,.box4>img:hover{
    transform: scale(1.1);
}

.box2 {
    grid-column: 3/4;
    grid-row: 1/3;
    position: relative;
    overflow: hidden;
}

.box3 {
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    overflow: hidden;
}

.box4 {
    grid-column: 2/3;
    position: relative;
    overflow: hidden;

}

.grid-section>div>.img2,
.grid-section>div>.img4,
.grid-section>div>.img5,
.grid-section>div>.img3 {
    /* width:731px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

}

.title {
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: white;
    padding: 10px 20px;
    height: 65px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.title>h5 {
    font-size: 1.25rem;
    margin-bottom: 0px;
    font-weight: 700;
}

.title>p {
    color: #06BBCC;
}

.courses {
    display: grid;
    gap: 20px;
    padding: 40px 80px;
    grid-template-columns: repeat(3, 1fr);

}

.c1>img,
.c2>img,
.c3>img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    margin-bottom: 30px;
    

}
.cards>.c:hover{
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.c1,
.c2,
.c3 {
    text-align: center;
    position: relative;
    background-color: #deeaec;
    overflow: hidden;

}
.c1>img:hover,.c2>img:hover,.c3>img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.more {
    position: absolute;
    bottom: 10px;
    top: 40%;
    left: 20%;
    display: flex;
    gap: 1px;
    cursor: pointer;

}

.more>span {
    width: fit-content;
    color: white;
    background-color: #06BBCC;
    height: fit-content;
    padding: 5px 10px;

}

.sp1 {
    border-radius: 50px 0 0 50px;
    padding: 5px 17px !important;
}

.sp2 {
    border-radius: 0px 50px 50px 0px;
    padding: 5px 17px !important;
}

.c1>h4,
.c2>h4,
.c3>h4 {
    font-weight: 700;
}

.star {
    display: flex;
    gap: 5px;
    justify-content: center;


}

.star>p {
    margin-top: -3px;
    ;
}

.star>li {
    color: #06BBCC;
}

.details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 10px;
    padding: 0px 10px;
}


.fa1,
.fa2,
.fa3 {
    display: flex;
    gap: 10px;

}

.fa1>i,
.fa2>i,
.fa3>i {
    color: #06BBCC
}

.fa1>p,
.fa2>p,
.fa3>p {
    margin-top: -4px;
}

.faculty {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 80px;
}

.t1>img,
.t2>img,
.t3>img,
.t4>img {
    width: 100%;
    object-fit: cover;
    height: fit-content;
}
.t1>img:hover,
.t2>img:hover,
.t3>img:hover,
.t4>img:hover{
    transform: scale(1.1);
    transition:transform 0.3s ease;
} 


.faculty>.t1>.social-icons,
.faculty>.t2>.social-icons,
.faculty>.t3>.social-icons,
.faculty>.t4>.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:60%;
    left: 20%;
    cursor: pointer;
    background-color: white;
    /* width:150px; */
    padding: 10px;
}

.social-icons>i {
    color: white;
    height: 40px;
    width: 40px;
    background-color: #06BBCC;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t1,
.t2,
.t3,
.t4 {
    position: relative;
    background-color: #d6eaec;
    overflow: hidden;
}
.f-names{
    margin-top:60px;
    text-align: center; 
}
.testimonial{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    padding:50px 80px;
}
.image_test>img{
    height:80px;
    width:80px;
    border-radius: 50px;
    padding: 10px;
    border:1px solid grey;
    background-color: white;
    text-align: center;
}
.client{
    padding: 20px 0px;
    text-align: center;
    
}
.test{
    text-align: center;
}
.client>.info{
    /* text-align: justify; */
    padding: 20px 25px;
}
.image_test>h5{
    margin-top: 15px;
}
.client>.info:hover{
    background-color: #06BBCC;
    cursor: pointer;
}
.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border:1px solid black;
    padding: 80px;
    background-color: #181d38;
    color:white;
}

.foot>.link{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 20px;
    
}

.link>a{
    text-decoration: none;
    color:white;
}
.foot>.news>input{
    border:none;
    height:50px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    margin-top: 20px;
}

.gallery>.ft-img>img{
    width: 100%;
    height: fit-content;
    object-fit: cover;
}
.last{
    margin-left: 40px;
}
.soc-icons{
    display: flex;
    padding: 20px 0px;
    gap:5px;
    cursor: pointer;
}
.soc-icons>i{
    border-radius: 50px;
    height: 40px;
    width: 40px;
    border:1px solid white;
    background-color:rgba(24, 29, 56, .7);
    display:flex;
    justify-content: center;
    align-items: center;
     
}
.soc-icons>i:hover{
    background-color: white;
    color:#06BBCC;
}


.rcb{
    background: rgba(75, 73, 73, 0.495);
    opacity: 0.1;
}

#imgback{
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-inner{
    height: 100vh;
    background-color: rgba(24, 29, 56, .7);
}

.carousel-item {
    width: 100%;
    height: 100%;
    
}
.bg-card{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}